@use 'sass:math';

$itemsCount: 5; // Define the number of items (or set dynamically)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.title {
  margin: 0;
  background-color: #09015f;
  color: white;
  text-align: center;
  height: 45px;
}

h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  color: #423E37;
}

.page {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0 100px;
  list-style-type: none;
}

.tabs-controls__link {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #423E37;
  text-transform: uppercase;
  text-decoration: none;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 4px;
    background-color: #423E37;
    border-radius: 2px;
    margin: auto;
    content: '';
    transition: width 0.4s;
  }
}

.tabs-controls__link--active {
  &:after {
    width: 100%;
  }
}

.cards-container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: calc(100vh - 205px);
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #EDEBD7;
  border: 1px solid #423E37;
  box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
  transition: transform 0.3s, opacity 0.2s;

  &.hidden {
    z-index: 100;
    background-color: #fff;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s, transform 1s;

    h1 {
      color: #fff;
      transition: color 0.5s;
    }

    @for $i from 1 through $itemsCount {
      &:nth-of-type(#{$i}) {
        transform: rotate(math.random(100) - 100deg) translateX((math.random(1) + 100) * 1%) translateY(math.random(60) * -1%) scale(math.random(10) * 0.1) skewX(math.random(12) + deg) skewY(math.random(12) + deg);
      }
    }
  }

  @for $i from 1 through $itemsCount {
    $zIndexValue: $itemsCount - $i;
    $xValue: (
      $i - 1) * 10px;
    $yValue: (
      $i - 1) * 10px;

    &:nth-of-type(#{$i}) {
      z-index: $zIndexValue;
      transform: translateX(#{$xValue}) translateY(#{$yValue}
    );
  }
}
}

.register-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;

  &:hover {
    background-color: #45a049;
  }
}